{% extends 'base.html' %}

{% block slider %}
<div class="rn-breadcrumb-inner ptb--30">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <h5 class="title text-center text-md-start">Explore Creators</h5>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-list">
                    <li class="item"><a href="index.html">Home</a></li>
                    <li class="separator"><i class="feather-chevron-right"></i></li>
                    <li class="item current">Simple</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock slider %}
    
{% block content %}
<div class="rn-product-area rn-section-gapTop">
    <div class="container">
        <div class="row g-5 mt_dec--30">
            <!-- start single product -->
            <div class="col-5 col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="product-style-one no-overlay">
                    <div class="card-thumbnail">
                        <a href="product-details.html"><img src="/static/assets/images/portfolio/portfolio-01.jpg" alt="NFT_portfolio"></a>
                    </div>
                    <div class="product-share-wrapper">
                        <div class="profile-share">
                            <a href="author.html" class="avatar" data-tooltip="Jone lee"><img src="/static/assets/images/client/client-1.png" alt="Nft_Profile"></a>
                            <a href="author.html" class="avatar" data-tooltip="Jone lee"><img src="/static/assets/images/client/client-2.png" alt="Nft_Profile"></a>
                            <a href="author.html" class="avatar" data-tooltip="Jone lee"><img src="/static/assets/images/client/client-3.png" alt="Nft_Profile"></a>
                            <a class="more-author-text" href="#">9+ Place Bit.</a>
                        </div>
                        <div class="share-btn share-btn-activation dropdown">
                            <button class="icon" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg viewBox="0 0 14 4" fill="none" width="16" height="16" class="sc-bdnxRM sc-hKFxyN hOiKLt">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.5 2C3.5 2.82843 2.82843 3.5 2 3.5C1.17157 3.5 0.5 2.82843 0.5 2C0.5 1.17157 1.17157 0.5 2 0.5C2.82843 0.5 3.5 1.17157 3.5 2ZM8.5 2C8.5 2.82843 7.82843 3.5 7 3.5C6.17157 3.5 5.5 2.82843 5.5 2C5.5 1.17157 6.17157 0.5 7 0.5C7.82843 0.5 8.5 1.17157 8.5 2ZM11.999 3.5C12.8274 3.5 13.499 2.82843 13.499 2C13.499 1.17157 12.8274 0.5 11.999 0.5C11.1706 0.5 10.499 1.17157 10.499 2C10.499 2.82843 11.1706 3.5 11.999 3.5Z" fill="currentColor"></path>
                                </svg>
                            </button>

                            <div class="share-btn-setting dropdown-menu dropdown-menu-end">
                                <button type="button" class="btn-setting-text share-text" data-bs-toggle="modal" data-bs-target="#shareModal">
                                    Share
                                </button>
                                <button type="button" class="btn-setting-text report-text" data-bs-toggle="modal" data-bs-target="#reportModal">
                                    Report
                                </button>
                            </div>

                        </div>
                    </div>
                    <a href="product-details.html"><span class="product-name">Preatent</span></a>
                    <span class="latest-bid">Highest bid 1/20</span>
                    <div class="bid-react-area">
                        <div class="last-bid">0.244wETH</div>
                        <div class="react-area">
                            <svg viewBox="0 0 17 16" fill="none" width="16" height="16" class="sc-bdnxRM sc-hKFxyN kBvkOu">
                                <path d="M8.2112 14L12.1056 9.69231L14.1853 7.39185C15.2497 6.21455 15.3683 4.46116 14.4723 3.15121V3.15121C13.3207 1.46757 10.9637 1.15351 9.41139 2.47685L8.2112 3.5L6.95566 2.42966C5.40738 1.10976 3.06841 1.3603 1.83482 2.97819V2.97819C0.777858 4.36443 0.885104 6.31329 2.08779 7.57518L8.2112 14Z" stroke="currentColor" stroke-width="2"></path>
                            </svg>
                            <span class="number">322</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end single product -->
            <!-- start single product -->
            <div class="col-5 col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="product-style-one no-overlay">
                    <div class="card-thumbnail">
                        <a href="product-details.html"><img src="/static/assets/images/portfolio/portfolio-02.jpg" alt="NFT_portfolio"></a>
                    </div>
                    <div class="product-share-wrapper">
                        <div class="profile-share">
                            <a href="author.html" class="avatar" data-tooltip="mr. Davei"><img src="/static/assets/images/client/client-4.png" alt="Nft_Profile"></a>
                            <a href="author.html" class="avatar" data-tooltip="Mrs.Laumi"><img src="/static/assets/images/client/client-5.png" alt="Nft_Profile"></a>
                            <a href="author.html" class="avatar" data-tooltip="Shanon"><img src="/static/assets/images/client/client-6.png" alt="Nft_Profile"></a>
                            <a class="more-author-text" href="#">11+ Place Bit.</a>
                        </div>
                        <div class="share-btn share-btn-activation dropdown">
                            <button class="icon" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg viewBox="0 0 14 4" fill="none" width="16" height="16" class="sc-bdnxRM sc-hKFxyN hOiKLt">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.5 2C3.5 2.82843 2.82843 3.5 2 3.5C1.17157 3.5 0.5 2.82843 0.5 2C0.5 1.17157 1.17157 0.5 2 0.5C2.82843 0.5 3.5 1.17157 3.5 2ZM8.5 2C8.5 2.82843 7.82843 3.5 7 3.5C6.17157 3.5 5.5 2.82843 5.5 2C5.5 1.17157 6.17157 0.5 7 0.5C7.82843 0.5 8.5 1.17157 8.5 2ZM11.999 3.5C12.8274 3.5 13.499 2.82843 13.499 2C13.499 1.17157 12.8274 0.5 11.999 0.5C11.1706 0.5 10.499 1.17157 10.499 2C10.499 2.82843 11.1706 3.5 11.999 3.5Z" fill="currentColor"></path>
                                </svg>
                            </button>

                            <div class="share-btn-setting dropdown-menu dropdown-menu-end">
                                <button type="button" class="btn-setting-text share-text" data-bs-toggle="modal" data-bs-target="#shareModal">
                                    Share
                                </button>
                                <button type="button" class="btn-setting-text report-text" data-bs-toggle="modal" data-bs-target="#reportModal">
                                    Report
                                </button>
                            </div>

                        </div>
                    </div>
                    <a href="product-details.html"><span class="product-name">Diamond Dog</span></a>
                    <span class="latest-bid">Highest bid 5/11</span>
                    <div class="bid-react-area">
                        <div class="last-bid">0.892wETH</div>
                        <div class="react-area">
                            <svg viewBox="0 0 17 16" fill="none" width="16" height="16" class="sc-bdnxRM sc-hKFxyN kBvkOu">
                                <path d="M8.2112 14L12.1056 9.69231L14.1853 7.39185C15.2497 6.21455 15.3683 4.46116 14.4723 3.15121V3.15121C13.3207 1.46757 10.9637 1.15351 9.41139 2.47685L8.2112 3.5L6.95566 2.42966C5.40738 1.10976 3.06841 1.3603 1.83482 2.97819V2.97819C0.777858 4.36443 0.885104 6.31329 2.08779 7.57518L8.2112 14Z" stroke="currentColor" stroke-width="2"></path>
                            </svg>
                            <span class="number">420</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end single product -->
            <!-- start single product -->
            <div class="col-5 col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="product-style-one no-overlay">
                    <div class="card-thumbnail">
                        <a href="product-details.html"><img src="/static/assets/images/portfolio/portfolio-03.jpg" alt="NFT_portfolio"></a>
                    </div>
                    <div class="product-share-wrapper">
                        <div class="profile-share">
                            <a href="author.html" class="avatar" data-tooltip="mr. Jone"><img src="/static/assets/images/client/client-7.png" alt="Nft_Profile"></a>
                            <a href="author.html" class="avatar" data-tooltip="Laumi"><img src="/static/assets/images/client/client-8.png" alt="Nft_Profile"></a>
                            <a href="author.html" class="avatar" data-tooltip="Tom"><img src="/static/assets/images/client/client-9.png" alt="Nft_Profile"></a>
                            <a class="more-author-text" href="#">12+ Place Bit.</a>
                        </div>
                        <div class="share-btn share-btn-activation dropdown">
                            <button class="icon" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg viewBox="0 0 14 4" fill="none" width="16" height="16" class="sc-bdnxRM sc-hKFxyN hOiKLt">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.5 2C3.5 2.82843 2.82843 3.5 2 3.5C1.17157 3.5 0.5 2.82843 0.5 2C0.5 1.17157 1.17157 0.5 2 0.5C2.82843 0.5 3.5 1.17157 3.5 2ZM8.5 2C8.5 2.82843 7.82843 3.5 7 3.5C6.17157 3.5 5.5 2.82843 5.5 2C5.5 1.17157 6.17157 0.5 7 0.5C7.82843 0.5 8.5 1.17157 8.5 2ZM11.999 3.5C12.8274 3.5 13.499 2.82843 13.499 2C13.499 1.17157 12.8274 0.5 11.999 0.5C11.1706 0.5 10.499 1.17157 10.499 2C10.499 2.82843 11.1706 3.5 11.999 3.5Z" fill="currentColor"></path>
                                </svg>
                            </button>

                            <div class="share-btn-setting dropdown-menu dropdown-menu-end">
                                <button type="button" class="btn-setting-text share-text" data-bs-toggle="modal" data-bs-target="#shareModal">
                                    Share
                                </button>
                                <button type="button" class="btn-setting-text report-text" data-bs-toggle="modal" data-bs-target="#reportModal">
                                    Report
                                </button>
                            </div>

                        </div>
                    </div>
                    <a href="product-details.html"><span class="product-name">OrBid6</span></a>
                    <span class="latest-bid">Highest bid 2/31</span>
                    <div class="bid-react-area">
                        <div class="last-bid">0.2128wETH</div>
                        <div class="react-area">
                            <svg viewBox="0 0 17 16" fill="none" width="16" height="16" class="sc-bdnxRM sc-hKFxyN kBvkOu">
                                <path d="M8.2112 14L12.1056 9.69231L14.1853 7.39185C15.2497 6.21455 15.3683 4.46116 14.4723 3.15121V3.15121C13.3207 1.46757 10.9637 1.15351 9.41139 2.47685L8.2112 3.5L6.95566 2.42966C5.40738 1.10976 3.06841 1.3603 1.83482 2.97819V2.97819C0.777858 4.36443 0.885104 6.31329 2.08779 7.57518L8.2112 14Z" stroke="currentColor" stroke-width="2"></path>
                            </svg>
                            <span class="number">12</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end single product -->
            <!-- start single product -->
            <div class="col-5 col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="product-style-one no-overlay">
                    <div class="card-thumbnail">
                        <a href="product-details.html"><img src="/static/assets/images/portfolio/portfolio-04.jpg" alt="NFT_portfolio"></a>
                    </div>
                    <div class="product-share-wrapper">
                        <div class="profile-share">
                            <a href="author.html" class="avatar" data-tooltip="mr. Davei"><img src="/static/assets/images/client/client-9.png" alt="Nft_Profile"></a>
                            <a href="author.html" class="avatar" data-tooltip="Mrs.Laumi"><img src="/static/assets/images/client/client-10.png" alt="Nft_Profile"></a>
                            <a href="author.html" class="avatar" data-tooltip="Shanon"><img src="/static/assets/images/client/client-11.png" alt="Nft_Profile"></a>
                            <a class="more-author-text" href="#">13+ Place Bit.</a>
                        </div>
                        <div class="share-btn share-btn-activation dropdown">
                            <button class="icon" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg viewBox="0 0 14 4" fill="none" width="16" height="16" class="sc-bdnxRM sc-hKFxyN hOiKLt">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.5 2C3.5 2.82843 2.82843 3.5 2 3.5C1.17157 3.5 0.5 2.82843 0.5 2C0.5 1.17157 1.17157 0.5 2 0.5C2.82843 0.5 3.5 1.17157 3.5 2ZM8.5 2C8.5 2.82843 7.82843 3.5 7 3.5C6.17157 3.5 5.5 2.82843 5.5 2C5.5 1.17157 6.17157 0.5 7 0.5C7.82843 0.5 8.5 1.17157 8.5 2ZM11.999 3.5C12.8274 3.5 13.499 2.82843 13.499 2C13.499 1.17157 12.8274 0.5 11.999 0.5C11.1706 0.5 10.499 1.17157 10.499 2C10.499 2.82843 11.1706 3.5 11.999 3.5Z" fill="currentColor"></path>
                                </svg>
                            </button>

                            <div class="share-btn-setting dropdown-menu dropdown-menu-end">
                                <button type="button" class="btn-setting-text share-text" data-bs-toggle="modal" data-bs-target="#shareModal">
                                    Share
                                </button>
                                <button type="button" class="btn-setting-text report-text" data-bs-toggle="modal" data-bs-target="#reportModal">
                                    Report
                                </button>
                            </div>

                        </div>
                    </div>
                    <a href="product-details.html"><span class="product-name">Morgan11</span></a>
                    <span class="latest-bid">Highest bid 3/16</span>
                    <div class="bid-react-area">
                        <div class="last-bid">0.265wETH</div>
                        <div class="react-area">
                            <svg viewBox="0 0 17 16" fill="none" width="16" height="16" class="sc-bdnxRM sc-hKFxyN kBvkOu">
                                <path d="M8.2112 14L12.1056 9.69231L14.1853 7.39185C15.2497 6.21455 15.3683 4.46116 14.4723 3.15121V3.15121C13.3207 1.46757 10.9637 1.15351 9.41139 2.47685L8.2112 3.5L6.95566 2.42966C5.40738 1.10976 3.06841 1.3603 1.83482 2.97819V2.97819C0.777858 4.36443 0.885104 6.31329 2.08779 7.57518L8.2112 14Z" stroke="currentColor" stroke-width="2"></path>
                            </svg>
                            <span class="number">20</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end single product -->
            <!-- start single product -->
            <div class="col-5 col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="product-style-one no-overlay">
                    <div class="card-thumbnail">
                        <a href="product-details.html"><img src="/static/assets/images/portfolio/portfolio-05.jpg" alt="NFT_portfolio"></a>
                    </div>
                    <div class="product-share-wrapper">
                        <div class="profile-share">
                            <a href="author.html" class="avatar" data-tooltip="Terasa"><img src="/static/assets/images/client/client-8.png" alt="Nft_Profile"></a>
                            <a href="author.html" class="avatar" data-tooltip="Sakib"><img src="/static/assets/images/client/client-7.png" alt="Nft_Profile"></a>
                            <a href="author.html" class="avatar" data-tooltip="Miraj"><img src="/static/assets/images/client/client-3.png" alt="Nft_Profile"></a>
                            <a class="more-author-text" href="#">15+ Place Bit.</a>
                        </div>
                        <div class="share-btn share-btn-activation dropdown">
                            <button class="icon" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg viewBox="0 0 14 4" fill="none" width="16" height="16" class="sc-bdnxRM sc-hKFxyN hOiKLt">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.5 2C3.5 2.82843 2.82843 3.5 2 3.5C1.17157 3.5 0.5 2.82843 0.5 2C0.5 1.17157 1.17157 0.5 2 0.5C2.82843 0.5 3.5 1.17157 3.5 2ZM8.5 2C8.5 2.82843 7.82843 3.5 7 3.5C6.17157 3.5 5.5 2.82843 5.5 2C5.5 1.17157 6.17157 0.5 7 0.5C7.82843 0.5 8.5 1.17157 8.5 2ZM11.999 3.5C12.8274 3.5 13.499 2.82843 13.499 2C13.499 1.17157 12.8274 0.5 11.999 0.5C11.1706 0.5 10.499 1.17157 10.499 2C10.499 2.82843 11.1706 3.5 11.999 3.5Z" fill="currentColor"></path>
                                </svg>
                            </button>

                            <div class="share-btn-setting dropdown-menu dropdown-menu-end">
                                <button type="button" class="btn-setting-text share-text" data-bs-toggle="modal" data-bs-target="#shareModal">
                                    Share
                                </button>
                                <button type="button" class="btn-setting-text report-text" data-bs-toggle="modal" data-bs-target="#reportModal">
                                    Report
                                </button>
                            </div>

                        </div>
                    </div>
                    <a href="product-details.html"><span class="product-name">mAtal8</span></a>
                    <span class="latest-bid">Highest bid 6/50</span>
                    <div class="bid-react-area">
                        <div class="last-bid">0.244wETH</div>
                        <div class="react-area">
                            <svg viewBox="0 0 17 16" fill="none" width="16" height="16" class="sc-bdnxRM sc-hKFxyN kBvkOu">
                                <path d="M8.2112 14L12.1056 9.69231L14.1853 7.39185C15.2497 6.21455 15.3683 4.46116 14.4723 3.15121V3.15121C13.3207 1.46757 10.9637 1.15351 9.41139 2.47685L8.2112 3.5L6.95566 2.42966C5.40738 1.10976 3.06841 1.3603 1.83482 2.97819V2.97819C0.777858 4.36443 0.885104 6.31329 2.08779 7.57518L8.2112 14Z" stroke="currentColor" stroke-width="2"></path>
                            </svg>
                            <span class="number">205</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end single product -->

            <!-- start single product -->
            <div class="col-5 col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="product-style-one no-overlay">
                    <div class="card-thumbnail">
                        <a href="product-details.html"><img src="/static/assets/images/portfolio/portfolio-06.jpg" alt="NFT_portfolio"></a>
                    </div>
                    <div class="product-share-wrapper">
                        <div class="profile-share">
                            <a href="author.html" class="avatar" data-tooltip="Moris"><img src="/static/assets/images/client/client-8.png" alt="Nft_Profile"></a>
                            <a href="author.html" class="avatar" data-tooltip="Jsufia"><img src="/static/assets/images/client/client-1.png" alt="Nft_Profile"></a>
                            <a href="author.html" class="avatar" data-tooltip="Mordan"><img src="/static/assets/images/client/client-2.png" alt="Nft_Profile"></a>
                            <a class="more-author-text" href="#">9+ Place Bit.</a>
                        </div>
                        <div class="share-btn share-btn-activation dropdown">
                            <button class="icon" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg viewBox="0 0 14 4" fill="none" width="16" height="16" class="sc-bdnxRM sc-hKFxyN hOiKLt">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.5 2C3.5 2.82843 2.82843 3.5 2 3.5C1.17157 3.5 0.5 2.82843 0.5 2C0.5 1.17157 1.17157 0.5 2 0.5C2.82843 0.5 3.5 1.17157 3.5 2ZM8.5 2C8.5 2.82843 7.82843 3.5 7 3.5C6.17157 3.5 5.5 2.82843 5.5 2C5.5 1.17157 6.17157 0.5 7 0.5C7.82843 0.5 8.5 1.17157 8.5 2ZM11.999 3.5C12.8274 3.5 13.499 2.82843 13.499 2C13.499 1.17157 12.8274 0.5 11.999 0.5C11.1706 0.5 10.499 1.17157 10.499 2C10.499 2.82843 11.1706 3.5 11.999 3.5Z" fill="currentColor"></path>
                                </svg>
                            </button>

                            <div class="share-btn-setting dropdown-menu dropdown-menu-end">
                                <button type="button" class="btn-setting-text share-text" data-bs-toggle="modal" data-bs-target="#shareModal">
                                    Share
                                </button>
                                <button type="button" class="btn-setting-text report-text" data-bs-toggle="modal" data-bs-target="#reportModal">
                                    Report
                                </button>
                            </div>

                        </div>
                    </div>
                    <a href="product-details.html"><span class="product-name">Platonum</span></a>
                    <span class="latest-bid">Highest bid 1/10</span>
                    <div class="bid-react-area">
                        <div class="last-bid">0.450wETH</div>
                        <div class="react-area">
                            <svg viewBox="0 0 17 16" fill="none" width="16" height="16" class="sc-bdnxRM sc-hKFxyN kBvkOu">
                                <path d="M8.2112 14L12.1056 9.69231L14.1853 7.39185C15.2497 6.21455 15.3683 4.46116 14.4723 3.15121V3.15121C13.3207 1.46757 10.9637 1.15351 9.41139 2.47685L8.2112 3.5L6.95566 2.42966C5.40738 1.10976 3.06841 1.3603 1.83482 2.97819V2.97819C0.777858 4.36443 0.885104 6.31329 2.08779 7.57518L8.2112 14Z" stroke="currentColor" stroke-width="2"></path>
                            </svg>
                            <span class="number">65</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end single product -->
            <!-- start single product -->
            <div class="col-5 col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="product-style-one no-overlay">
                    <div class="card-thumbnail">
                        <a href="product-details.html"><img src="/static/assets/images/portfolio/portfolio-07.jpg" alt="NFT_portfolio"></a>
                    </div>
                    <div class="product-share-wrapper">
                        <div class="profile-share">
                            <a href="author.html" class="avatar" data-tooltip="Thinm"><img src="/static/assets/images/client/client-6.png" alt="Nft_Profile"></a>
                            <a href="author.html" class="avatar" data-tooltip="Jubin"><img src="/static/assets/images/client/client-10.png" alt="Nft_Profile"></a>
                            <a href="author.html" class="avatar" data-tooltip="Nautial"><img src="/static/assets/images/client/client-1.png" alt="Nft_Profile"></a>
                            <a class="more-author-text" href="#">14+ Place Bit.</a>
                        </div>
                        <div class="share-btn share-btn-activation dropdown">
                            <button class="icon" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg viewBox="0 0 14 4" fill="none" width="16" height="16" class="sc-bdnxRM sc-hKFxyN hOiKLt">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.5 2C3.5 2.82843 2.82843 3.5 2 3.5C1.17157 3.5 0.5 2.82843 0.5 2C0.5 1.17157 1.17157 0.5 2 0.5C2.82843 0.5 3.5 1.17157 3.5 2ZM8.5 2C8.5 2.82843 7.82843 3.5 7 3.5C6.17157 3.5 5.5 2.82843 5.5 2C5.5 1.17157 6.17157 0.5 7 0.5C7.82843 0.5 8.5 1.17157 8.5 2ZM11.999 3.5C12.8274 3.5 13.499 2.82843 13.499 2C13.499 1.17157 12.8274 0.5 11.999 0.5C11.1706 0.5 10.499 1.17157 10.499 2C10.499 2.82843 11.1706 3.5 11.999 3.5Z" fill="currentColor"></path>
                                </svg>
                            </button>

                            <div class="share-btn-setting dropdown-menu dropdown-menu-end">
                                <button type="button" class="btn-setting-text share-text" data-bs-toggle="modal" data-bs-target="#shareModal">
                                    Share
                                </button>
                                <button type="button" class="btn-setting-text report-text" data-bs-toggle="modal" data-bs-target="#reportModal">
                                    Report
                                </button>
                            </div>

                        </div>
                    </div>
                    <a href="product-details.html"><span class="product-name">PlatOrgan</span></a>
                    <span class="latest-bid">Highest bid 2/22</span>
                    <div class="bid-react-area">
                        <div class="last-bid">0.311wETH</div>
                        <div class="react-area">
                            <svg viewBox="0 0 17 16" fill="none" width="16" height="16" class="sc-bdnxRM sc-hKFxyN kBvkOu">
                                <path d="M8.2112 14L12.1056 9.69231L14.1853 7.39185C15.2497 6.21455 15.3683 4.46116 14.4723 3.15121V3.15121C13.3207 1.46757 10.9637 1.15351 9.41139 2.47685L8.2112 3.5L6.95566 2.42966C5.40738 1.10976 3.06841 1.3603 1.83482 2.97819V2.97819C0.777858 4.36443 0.885104 6.31329 2.08779 7.57518L8.2112 14Z" stroke="currentColor" stroke-width="2"></path>
                            </svg>
                            <span class="number">56</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end single product -->
            <!-- start single product -->
            <div class="col-5 col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="product-style-one no-overlay">
                    <div class="card-thumbnail">
                        <a href="product-details.html"><img src="/static/assets/images/portfolio/portfolio-10.jpg" alt="NFT_portfolio"></a>
                    </div>
                    <div class="product-share-wrapper">
                        <div class="profile-share">
                            <a href="author.html" class="avatar" data-tooltip="Tabriz"><img src="/static/assets/images/client/client-6.png" alt="Nft_Profile"></a>
                            <a href="author.html" class="avatar" data-tooltip="Juskin"><img src="/static/assets/images/client/client-8.png" alt="Nft_Profile"></a>
                            <a href="author.html" class="avatar" data-tooltip="Money"><img src="/static/assets/images/client/client-9.png" alt="Nft_Profile"></a>
                            <a class="more-author-text" href="#">14+ Place Bit.</a>
                        </div>
                        <div class="share-btn share-btn-activation dropdown">
                            <button class="icon" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg viewBox="0 0 14 4" fill="none" width="16" height="16" class="sc-bdnxRM sc-hKFxyN hOiKLt">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.5 2C3.5 2.82843 2.82843 3.5 2 3.5C1.17157 3.5 0.5 2.82843 0.5 2C0.5 1.17157 1.17157 0.5 2 0.5C2.82843 0.5 3.5 1.17157 3.5 2ZM8.5 2C8.5 2.82843 7.82843 3.5 7 3.5C6.17157 3.5 5.5 2.82843 5.5 2C5.5 1.17157 6.17157 0.5 7 0.5C7.82843 0.5 8.5 1.17157 8.5 2ZM11.999 3.5C12.8274 3.5 13.499 2.82843 13.499 2C13.499 1.17157 12.8274 0.5 11.999 0.5C11.1706 0.5 10.499 1.17157 10.499 2C10.499 2.82843 11.1706 3.5 11.999 3.5Z" fill="currentColor"></path>
                                </svg>
                            </button>
                            <div class="share-btn-setting dropdown-menu dropdown-menu-end">
                                <button type="button" class="btn-setting-text share-text" data-bs-toggle="modal" data-bs-target="#shareModal">
                                    Share
                                </button>
                                <button type="button" class="btn-setting-text report-text" data-bs-toggle="modal" data-bs-target="#reportModal">
                                    Report
                                </button>
                            </div>
                        </div>
                    </div>
                    <a href="product-details.html"><span class="product-name">Orgajis</span></a>
                    <span class="latest-bid">Highest bid 2/10</span>
                    <div class="bid-react-area">
                        <div class="last-bid">0.244wETH</div>
                        <div class="react-area">
                            <svg viewBox="0 0 17 16" fill="none" width="16" height="16" class="sc-bdnxRM sc-hKFxyN kBvkOu">
                                <path d="M8.2112 14L12.1056 9.69231L14.1853 7.39185C15.2497 6.21455 15.3683 4.46116 14.4723 3.15121V3.15121C13.3207 1.46757 10.9637 1.15351 9.41139 2.47685L8.2112 3.5L6.95566 2.42966C5.40738 1.10976 3.06841 1.3603 1.83482 2.97819V2.97819C0.777858 4.36443 0.885104 6.31329 2.08779 7.57518L8.2112 14Z" stroke="currentColor" stroke-width="2"></path>
                            </svg>
                            <span class="number">89</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end single product -->
            <!-- start single product -->
            <div class="col-5 col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="product-style-one no-overlay">
                    <div class="card-thumbnail">
                        <a href="product-details.html"><img src="/static/assets/images/portfolio/portfolio-09.jpg" alt="NFT_portfolio"></a>
                    </div>
                    <div class="product-share-wrapper">
                        <div class="profile-share">
                            <a href="author.html" class="avatar" data-tooltip="Morokko"><img src="/static/assets/images/client/client-6.png" alt="Nft_Profile"></a>
                            <a href="author.html" class="avatar" data-tooltip="Levnon"><img src="/static/assets/images/client/client-1.png" alt="Nft_Profile"></a>
                            <a href="author.html" class="avatar" data-tooltip="Trim sawdi"><img src="/static/assets/images/client/client-10.png" alt="Nft_Profile"></a>
                            <a class="more-author-text" href="#">12+ Place Bit.</a>
                        </div>
                        <div class="share-btn share-btn-activation dropdown">
                            <button class="icon" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg viewBox="0 0 14 4" fill="none" width="16" height="16" class="sc-bdnxRM sc-hKFxyN hOiKLt">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.5 2C3.5 2.82843 2.82843 3.5 2 3.5C1.17157 3.5 0.5 2.82843 0.5 2C0.5 1.17157 1.17157 0.5 2 0.5C2.82843 0.5 3.5 1.17157 3.5 2ZM8.5 2C8.5 2.82843 7.82843 3.5 7 3.5C6.17157 3.5 5.5 2.82843 5.5 2C5.5 1.17157 6.17157 0.5 7 0.5C7.82843 0.5 8.5 1.17157 8.5 2ZM11.999 3.5C12.8274 3.5 13.499 2.82843 13.499 2C13.499 1.17157 12.8274 0.5 11.999 0.5C11.1706 0.5 10.499 1.17157 10.499 2C10.499 2.82843 11.1706 3.5 11.999 3.5Z" fill="currentColor"></path>
                                </svg>
                            </button>

                            <div class="share-btn-setting dropdown-menu dropdown-menu-end">
                                <button type="button" class="btn-setting-text share-text" data-bs-toggle="modal" data-bs-target="#shareModal">
                                    Share
                                </button>
                                <button type="button" class="btn-setting-text report-text" data-bs-toggle="modal" data-bs-target="#reportModal">
                                    Report
                                </button>
                            </div>

                        </div>
                    </div>
                    <a href="product-details.html"><span class="product-name">#720</span></a>
                    <span class="latest-bid">Highest bid 1/1</span>
                    <div class="bid-react-area">
                        <div class="last-bid">0.244wETH</div>
                        <div class="react-area">
                            <svg viewBox="0 0 17 16" fill="none" width="16" height="16" class="sc-bdnxRM sc-hKFxyN kBvkOu">
                                <path d="M8.2112 14L12.1056 9.69231L14.1853 7.39185C15.2497 6.21455 15.3683 4.46116 14.4723 3.15121V3.15121C13.3207 1.46757 10.9637 1.15351 9.41139 2.47685L8.2112 3.5L6.95566 2.42966C5.40738 1.10976 3.06841 1.3603 1.83482 2.97819V2.97819C0.777858 4.36443 0.885104 6.31329 2.08779 7.57518L8.2112 14Z" stroke="currentColor" stroke-width="2"></path>
                            </svg>
                            <span class="number">502</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- start single product -->
            <div class="col-5 col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="product-style-one no-overlay">
                    <div class="card-thumbnail">
                        <a href="product-details.html"><img src="/static/assets/images/portfolio/portfolio-02.jpg" alt="NFT_portfolio"></a>
                    </div>
                    <div class="product-share-wrapper">
                        <div class="profile-share">
                            <a href="author.html" class="avatar" data-tooltip="Mark David"><img src="/static/assets/images/client/client-1.png" alt="Nft_Profile"></a>
                            <a href="author.html" class="avatar" data-tooltip="Sunil Satti"><img src="/static/assets/images/client/client-8.png" alt="Nft_Profile"></a>
                            <a href="author.html" class="avatar" data-tooltip="Jone lee"><img src="/static/assets/images/client/client-7.png" alt="Nft_Profile"></a>
                            <a class="more-author-text" href="#">5+ Place Bit.</a>
                        </div>
                        <div class="share-btn share-btn-activation dropdown">
                            <button class="icon" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg viewBox="0 0 14 4" fill="none" width="16" height="16" class="sc-bdnxRM sc-hKFxyN hOiKLt">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.5 2C3.5 2.82843 2.82843 3.5 2 3.5C1.17157 3.5 0.5 2.82843 0.5 2C0.5 1.17157 1.17157 0.5 2 0.5C2.82843 0.5 3.5 1.17157 3.5 2ZM8.5 2C8.5 2.82843 7.82843 3.5 7 3.5C6.17157 3.5 5.5 2.82843 5.5 2C5.5 1.17157 6.17157 0.5 7 0.5C7.82843 0.5 8.5 1.17157 8.5 2ZM11.999 3.5C12.8274 3.5 13.499 2.82843 13.499 2C13.499 1.17157 12.8274 0.5 11.999 0.5C11.1706 0.5 10.499 1.17157 10.499 2C10.499 2.82843 11.1706 3.5 11.999 3.5Z" fill="currentColor"></path>
                                </svg>
                            </button>

                            <div class="share-btn-setting dropdown-menu dropdown-menu-end">
                                <button type="button" class="btn-setting-text share-text" data-bs-toggle="modal" data-bs-target="#shareModal">
                                    Share
                                </button>
                                <button type="button" class="btn-setting-text report-text" data-bs-toggle="modal" data-bs-target="#reportModal">
                                    Report
                                </button>
                            </div>

                        </div>
                    </div>
                    <a href="product-details.html"><span class="product-name">Orthogon#720</span></a>
                    <span class="latest-bid">Highest bid 1/1</span>
                    <div class="bid-react-area">
                        <div class="last-bid">0.244wETH</div>
                        <div class="react-area">
                            <svg viewBox="0 0 17 16" fill="none" width="16" height="16" class="sc-bdnxRM sc-hKFxyN kBvkOu">
                                <path d="M8.2112 14L12.1056 9.69231L14.1853 7.39185C15.2497 6.21455 15.3683 4.46116 14.4723 3.15121V3.15121C13.3207 1.46757 10.9637 1.15351 9.41139 2.47685L8.2112 3.5L6.95566 2.42966C5.40738 1.10976 3.06841 1.3603 1.83482 2.97819V2.97819C0.777858 4.36443 0.885104 6.31329 2.08779 7.57518L8.2112 14Z" stroke="currentColor" stroke-width="2"></path>
                            </svg>
                            <span class="number">308</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end single product -->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="view-more-btn mt--50">
                    <a class="btn btn-primary-alta btn-large w-100" href="#">View More Items</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
    