{% extends 'base.html' %}

{% block slider %}
<div class="rn-breadcrumb-inner ptb--30">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <h5 class="title text-center text-md-start">Follow Privacy Policy</h5>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-list">
                    <li class="item"><a href="/">Home</a></li>
                    <li class="separator"><i class="feather-chevron-right"></i></li>
                    <li class="item current">Follow Privacy Policy</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock slider %}

{% block content %}
<div class="rn-privacy-policy-area rn-section-gapTop">
    <div class="container">
        <div class="row mb_dec--50">
            <div class="offset-lg-2 col-lg-8 ">
                <div class="privacy-wrapper">
                    <!-- <h4>Welcome to {{settings.DOMAIN_NAME}} Privacy Policy</h4> -->
                    <h2>Privacy Policy</h2>
                    <p>Last Updated: December 31, 2021</p>
                    <p>
                        Ozone Networks, Inc. d/b/a {{settings.DOMAIN_NAME}} (“{{settings.DOMAIN_NAME}},” “we”, “us”, or “our”) is committed to protecting your privacy. We have prepared this Privacy Policy to describe to you our practices regarding the Personal Data (as defined below) we collect, use, and share in connection with the {{settings.DOMAIN_NAME}} website, mobile app, and other software provided on or in connection with our services, as described in our Terms of Service (collectively, the “Service”). “NFT” in this Privacy Policy means a non-fungible token or similar digital item implemented on a blockchain (such as the Ethereum blockchain), which uses smart contracts to link to or otherwise be associated with certain content or data.
                    </p>
                    <!-- <ol>
                        <li>Where Bitcoin was hailed as the digital answer to currency, NFTs are now being touted as
                            the digital answer to collectables, but plenty of sceptics fear they're a bubble waiting
                            to burst.</li>
                        <li>It could be a house, or a painting such as the Mona Lisa, which is one of a kind. You
                            can take a photo of the painting or buy a print but there will only ever be one original
                            painting.</li>
                        <li>Former Christie's auctioneer Charles Allsopp said the concept of buying NFTs made "no
                            sense".

                            "The idea of buying something which isn't there is just strange," he told the BBC.</li>
                    </ol> -->

                    <h4>The type of personal information we collect</h4>
                    <p>“Personal Data” means data that allows someone to identify you individually, including, for example, your name, email address, as well as any other non-public information about you that is associated with or linked to any of the foregoing. “Anonymous Data” means data, including aggregated and de-identified data, that is not associated with or linked to your Personal Data; Anonymous Data does not, by itself, permit the identification of individual persons. We collect Personal Data and Anonymous Data as described below.</p>
                    <ol>
                        <li>
                            We collect personal information when you create an account with us, make a transaction on our platform, or otherwise interact with us. This information may include your name, email address, and transaction history. We may also collect information from third-party sources in order to verify your identity or to prevent fraud.
                        </li>
                        <li>
                            We collect personal information when you create an account with us, make a transaction on our platform, or otherwise interact with us. This information may include your name, email address, and transaction history. We may also collect information from third-party sources in order to verify your identity or to prevent fraud.
                        </li>   
                        <li>
                            Our Service lets you store preferences like how your content is displayed, notification settings, and favorites. We may associate these choices with your ID, browser, or mobile device.
                        </li>
                        <li>
                            If you provide us with feedback or contact us, we will collect your name and contact information, as well as any other content included in the message.
                        </li>
                        <li>
                            We may also collect Personal Data at other points in our Service where you voluntarily provide it or where we state that Personal Data is being collected.
                        </li>
                    </ol>
                    <h4>How we collect personal information</h4>
                    <p>As you navigate through and interact with our Service, we may use automatic data collection technologies to collect certain information about your equipment, browsing actions, and patterns, including</p>
                    <ol>
                        <li>
                            Information Collected by Our Servers. To provide our Service and make it more useful to you, we (or a third party service provider) collect information from you, including, but not limited to, your browser type, operating system, Internet Protocol (“IP”) address, mobile device ID, blockchain address, wallet type, and date/time stamps.
                        </li>
                        <li>
                            Log Files. As is true of most websites and applications, we gather certain information automatically and store it in log files. This information includes IP addresses, browser type, Internet service provider (“ISP”), referring/exit pages, operating system, date/time stamps, and clickstream data. We use this information to analyze trends, administer the Service, track users’ movements around the Service, and better tailor our Services to our users’ needs. For example, some of the information may be collected so that when you visit the Service, it will recognize you and the information can be used to personalize your experience.
                        </li>
                        <li>
                            Cookies. Like many online services, we use cookies to collect information. We may use both session Cookies (which expire once you close your web browser) and persistent Cookies (which stay on your computer until you delete them) to analyze how users interact with our Service, make improvements to our product quality, and provide users with a more personalized experience.
                        </li>
                        <li>
                            Pixel Tag. In addition, we use “Pixel Tags” (also referred to as clear Gifs, Web beacons, or Web bugs). Pixel Tags allow us to analyze how users find our Service, make the Service more useful to you, and tailor your experience with us to meet your particular interests and needs.
                        </li>
                        <li>
                            How We Respond to Do Not Track Signals. Our systems do not currently recognize “do not track” signals or other mechanisms that might enable Users to opt out of tracking on our site.
                        </li>
                    </ol>
                    <h4>Use of Your Personal Data.</h4>
                    <p>We process your Personal Data to run our business, provide the Service, personalize your experience on the Service, and improve the Service. Specifically, we use your Personal Data to:</p>
                    <ol>
                        <li>
                            facilitate the creation of and secure your account;
                        </li>
                        <li>identify you as a user in our system;</li>
                        <li>provide you with our Service, including, but not limited to, helping you view, explore, and create NFTs using our tools and, at your own discretion, connect directly with others to purchase, sell, or transfer NFTs on public blockchains;</li>
                        <li>improve the administration of our Service and quality of experience when you interact with our Service, including, but not limited to, by analyzing how you and other users find and interact with the Service;</li>
                        <li>provide customer support and respond to your requests and inquiries;</li>
                        <li>investigate and address conduct that may violate our Terms of Service;</li>
                        <li>detect, prevent, and address fraud, violations of our terms or policies, and/or other harmful or unlawful activity;</li>
                        <li>display your username next to the NFTs currently or previously accessible in your third-party wallet, and next to NFTs on which you have interacted;</li>
                        <li>send you a welcome email to verify ownership of the email address provided when your account was created;</li>
                        <li>send you administrative notifications, such as security, support, and maintenance advisories;</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- <div class="row mt--50">
            <div class="offset-lg-2 col-lg-8">
                <a href="#" class="btn btn-primary mr--15 ml--25">Accept</a>
                <a href="#" class="btn btn-primary-alta">Decline</a>
            </div>
        </div> -->
    </div>
</div>
{% endblock content %}
    