{% extends 'base.html' %}

{% block slider %}
<div class="rn-breadcrumb-inner ptb--30">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <h5 class="title text-center text-md-start">Terms</h5>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-list">
                    <li class="item"><a href="/">Home</a></li>
                    <li class="separator"><i class="feather-chevron-right"></i></li>
                    <li class="item current">Terms & Condition</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock slider %}

{% block content %}
<div class="rn-privacy-policy-area rn-section-gapTop">
    <div class="container">
        <div class="row mb_dec--50">
            <div class="offset-lg-2 col-lg-8 ">
                <div class="privacy-wrapper">
                    <!-- <h4>Welcome to {{settings.DOMAIN_NAME}} Privacy Policy</h4> -->
                    <h2>Terms and Condition</h2>
                    <p>Last Updated: December 31, 2021</p>
                    <p>
                        These terms and conditions (the "Terms") govern your use of [NFT Platform Name] (the "Platform"), including the purchase and sale of non-fungible tokens (NFTs) on the Platform. By using the Platform, you agree to be bound by these Terms. If you do not agree to these Terms, do not use the Platform.
                    </p>
                    <!-- <ol>
                        <li>Where Bitcoin was hailed as the digital answer to currency, NFTs are now being touted as
                            the digital answer to collectables, but plenty of sceptics fear they're a bubble waiting
                            to burst.</li>
                        <li>It could be a house, or a painting such as the Mona Lisa, which is one of a kind. You
                            can take a photo of the painting or buy a print but there will only ever be one original
                            painting.</li>
                        <li>Former Christie's auctioneer Charles Allsopp said the concept of buying NFTs made "no
                            sense".

                            "The idea of buying something which isn't there is just strange," he told the BBC.</li>
                    </ol> -->

                    <h4>Introduction</h4>
                    
                    <ol>
                        <li>
                            In order to use the Platform, you must create an account. You are responsible for maintaining the security of your account and for all activities that occur under your account. You agree to immediately notify us of any unauthorized use of your account.
                        </li>
                    </ol>
                    <h4>NFT Listings and Transactions</h4>
                   
                    <ol>
                        <li>
                            The Platform allows you to list NFTs for sale and to purchase NFTs from other users. All transactions are subject to the terms and conditions of the Platform, including any applicable fees. You are responsible for ensuring that your listings and transactions comply with these Terms and any applicable laws.
                        </li>
                    </ol>
                    <h4>Intellectual Property</h4>
                    
                    <ol>
                        <li>The Platform and its content, including without limitation, the software, text, images, and graphics, are protected by intellectual property rights, including without limitation, copyright, trademark, and patent laws. You agree not to copy, modify, or distribute the Platform or its content without our prior written permission.</li>
                    </ol>
                    <h4>Disclaimer of Warranties</h4>
                    
                    <ol>
                        <li>The Platform is provided "as is" without any warranties of any kind, either express or implied, including without limitation, warranties of merchantability, fitness for a particular purpose, and non-infringement. We do not warrant that the Platform will be available, accurate, error-free, or uninterrupted.</li>
                    </ol>
                    <h4>Limitation of Liability</h4>
                    
                    <ol>
                        <li>In no event will we be liable for any damages of any kind, including without limitation, direct, indirect, incidental, or consequential damages, arising out of your use of the Platform or your purchase or sale of NFTs.</li>
                    </ol>
                    <h4>Indemnification</h4>
                    
                    <ol>
                        <li>You agree to indemnify and hold us harmless from any claims, damages, and expenses, including without limitation, attorneys' fees, arising from your use of the Platform or your purchase or sale of NFTs.</li>
                    </ol>
                    <h4>Dispute Resolution</h4>
                    
                    <ol>
                        <li>You agree to indemnify and hold us harmless from any claims, damages, and expenses, including without limitation, attorneys' fees, arising from your use of the Platform or your purchase or sale of NFTs.</li>
                    </ol>
                    <h4>Governing Law</h4>
                    
                    <p>These Terms will be governed by and construed in accordance with the laws of the [jurisdiction], without giving effect to any principles of conflicts of law.</p>
                    
                    <h4>Changes to the Terms</h4>
                    
                    <p>We may revise these Terms from time to time. If we make any material changes to these Terms, we will notify you by posting the revised Terms on the Platform. Your continued use of the Platform after any changes indicates your acceptance of the revised Terms.</p>
                    
                    <h4>Termination</h4>
                    
                    <p>We may terminate these Terms or your use of the Platform at any time, with or without cause, and without notice to you.</p>

                    <h4>    Entire Agreement</h4>
                    <p>These Terms constitute the entire agreement between you and us regarding your use of the Platform and supersede all prior agreements and understandings.

                       <br> Effective as of [date].</p>
                </div>
            </div>
        </div>
        <!-- <div class="row mt--50">
            <div class="offset-lg-2 col-lg-8">
                <a href="#" class="btn btn-primary mr--15 ml--25">Accept</a>
                <a href="#" class="btn btn-primary-alta">Decline</a>
            </div>
        </div> -->
    </div>
</div>
{% endblock content %}
    