{% extends 'lighthouse_base.html' %}
{% load crispy_forms_tags %}
{% block breadcrumbs %}
<div class="row breadcrumbs-top">
    <div class="col-12">
        <h2 class="content-header-title float-start mb-0">Password</h2>
        <div class="breadcrumb-wrapper">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a>
                </li>
                <li class="breadcrumb-item active">Change Password
                </li>
            </ol>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}
    

{% block content %}
<div class="d-flex justify-content-center">
    <div class="col-md-8 col-12 mt-4">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Change Password</h4>
            </div>
            <div class="card-body">
                <form class="form form-vertical" method="post" action="{% url 'admin-change-password' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="mt-1">
                            <label for="oldpassword" class="form-label">Old Password</label>
                            <input type="password" id="oldpassword" name="password" class="form-control mt-1" placeholder="Old Password" required>
                        </div>
                        <div class="mt-1">
                            <label for="newpassword" class="form-label">New Password</label>
                            <input type="password" id="newpassword" name="new_password" class="form-control mt-1" placeholder="New Password" required>
                        </div>

                        <div class="mt-1">
                            <label for="formFileSm" class="form-label">Confirm Password</label>
                            <input class="form-control" id="formFileSm" type="password" name="confirm_password" placeholder="Confirm Password" required>
                        </div>

                        <div class="col-12 mt-2">
                            <button type="submit" class="btn btn-primary me-1 waves-effect waves-float waves-light">Submit</button>
                            <button type="reset" class="btn btn-outline-secondary waves-effect">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
    
{% endblock content %}
    