<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="theme-style-mode" content="1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">
    <!-- CSS 
    ============================================ -->
    <link rel="stylesheet" href="/static/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/vendor/slick.css">
    <link rel="stylesheet" href="/static/assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="/static/assets/css/vendor/nice-select.css">
    <link rel="stylesheet" href="/static/assets/css/plugins/feature.css">
    <link rel="stylesheet" href="/static/assets/css/plugins/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/assets/css/vendor/odometer.css">

    <!-- Style css -->
    <link rel="stylesheet" href="/static/assets/css/style.css">
</head>

<body class="template-color-1 nft-body-connect">

    <!-- comeing sooon area -->
    <div class="maintanance-heignt" data-black-overlay="7">
        <div class="rn-comeing-soon-area ">
            <div class="container-fluid pt--40 pb--35 maintanance-plr text-center">
                {% comment %} <div class="logo">
                    <a href="index.html"><img src="/static/assets/images/logo/logo-white.png" alt="Nft-Marketplace"></a>
                </div> {% endcomment %}
                <div class="maintanance-inner">
                    <div class="wrapper">
                        <p>{{settings.MAINTENANCE_TEXT}}</p>
                        {% comment %} <h2>Website Is Under <span>Maintanance</span></h2> {% endcomment %}
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- comeing sooon area ENd-->




    <div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div>
    <!-- Start Top To Bottom Area  -->
    <div class="rn-progress-parent">
        <svg class="rn-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- End Top To Bottom Area  -->
    <!-- JS ============================================ -->
    <script src="/static/assets/js/vendor/jquery.js"></script>
    <script src="/static/assets/js/vendor/jquery.nice-select.min.js"></script>
    <script src="/static/assets/js/vendor/jquery-ui.js"></script>
    <script src="/static/assets/js/vendor/modernizer.min.js"></script>
    <script src="/static/assets/js/vendor/feather.min.js"></script>
    <script src="/static/assets/js/vendor/slick.min.js"></script>
    <script src="/static/assets/js/vendor/bootstrap.min.js"></script>
    <script src="/static/assets/js/vendor/sal.min.js"></script>
    <script src="/static/assets/js/vendor/particles.js"></script>
    <script src="/static/assets/js/vendor/jquery.style.swicher.js"></script>
    <script src="/static/assets/js/vendor/js.cookie.js"></script>
    <script src="/static/assets/js/vendor/count-down.js"></script>
    <script src="/static/assets/js/vendor/isotop.js"></script>
    <script src="/static/assets/js/vendor/imageloaded.js"></script>
    <script src="/static/assets/js/vendor/backtoTop.js"></script>
    <script src="/static/assets/js/vendor/odometer.js"></script>
    <script src="/static/assets/js/vendor/jquery-appear.js"></script>
    <script src="/static/assets/js/vendor/scrolltrigger.js"></script>
    <script src="/static/assets/js/vendor/jquery.custom-file-input.js"></script>
    <script src="/static/assets/js/vendor/savePopup.js"></script>
    <script src="/static/assets/js/vendor/vanilla.tilt.js"></script>

    <!-- main JS -->
    <script src="/static/assets/js/main.js"></script>
    <!-- Meta Mask  -->
    <script src="/static/assets/js/vendor/web3.min.js"></script>
    <script src="/static/assets/js/vendor/maralis.js"></script>
    <script src="/static/assets/js/vendor/nft.js"></script>
</body>



</html>