{% extends 'base.html' %} 
{% load crispy_forms_tags %}
{% block slider %}
<div class="rn-breadcrumb-inner ptb--30">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <h5 class="title text-center text-md-start">Edit NFT</h5>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-list">
                    <li class="item"><a href="{% url 'users' %}">My Profile</a></li>
                    <li class="separator"><i class="feather-chevron-right"></i></li>
                    <li class="item current">Edit {{nft.name}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock slider %} 
{% block content %} 
<div class="create-area rn-section-gapTop">
    <div class="container">
        <div class="row g-5">
            <form action="" method="post" class="row search-form-wrapper" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="">

                    <div class="col-lg-12 form-wrapper-one mx-5 registration-area">
                        {% include 'partials/messages.html' %}
                        {{form|crispy}}
                        <div class="button-area save-btn-edit">
                            <button type="" class="btn btn-primary">Update</button>
                            
                        </div>
                    </div>
                </div>


                
            </form>
        </div>
    </div>
</div>
{% endblock content %}